<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Resume</h2>
    <img src="https://img.icons8.com/officel/80/000000/open-resume.png">
    <p>Senior Data Scientist with expertise in algorithm implementation, optimization, and machine intelligence. Four years of experience applying Python to solve complex problems across diverse industries.</p>
    <a href="https://github.com/tomrolandus/tomrolandus.github.io/blob/main/assets/TRH_CV.pdf"><font size="3">Link to resume</font></a> 
  </div>
  <div class="tech">
    <h2>Skills</h2>
      <img src="https://img.icons8.com/color/48/000000/python.png">
      <img src="https://img.icons8.com/ultraviolet/40/000000/mysql.png">
      <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo--v1.png">
    <p>Advanced Python (including Scipy, Scikit-learn, PyTorch, Langchain), SQL, and Java. Proficient in JavaScript and R. 
       Experienced with Natural Language Processing, Neural Networks, and Artificial Neural Networks. 
       Strong skills in data visualization, machine learning, and statistical analysis.</p>
  </div>
  <div class="tech">
    <h2>Tools & Technologies</h2>
      <img src="https://img.icons8.com/nolan/64/google-cloud-platform.png">
      <img src="https://img.icons8.com/color/48/000000/amazon-web-services.png">
      <img src="https://img.icons8.com/color/48/000000/docker.png">
      <img src="https://img.icons8.com/color/48/000000/git.png">
    <p>Proficient with Docker containers, Git CI/CD, Tableau, and Snowflake. Advanced knowledge of cloud infrastructure (AWS).
       Experience with workflow management tools and Generative AI (LLM). Familiar with Google Cloud Platform and other cloud technologies.</p>
  </div>
</div>
