<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
  <!-- Added clickable resume logo -->
  <a href="https://github.com/tomrolandus/tomrolandus.github.io/blob/main/assets/TRH_CV.pdf">
    <img src="https://img.icons8.com/officel/80/000000/open-resume.png" alt="Resume">
  </a>
</div>
<div class="user">
  <div class="tech">
    <h2>Skills</h2>
      <img src="https://img.icons8.com/color/48/000000/python.png">
      <img src="https://img.icons8.com/ultraviolet/40/000000/mysql.png">
      <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo--v1.png">
    <p>Advanced Python (including Scipy, Scikit-learn, PyTorch, Langchain), SQL, and Java. Proficient in JavaScript and R. 
       Experienced with Natural Language Processing, Neural Networks, and Artificial Neural Networks. 
       Strong skills in data visualization, machine learning, and statistical analysis.</p>
  </div>
  <div class="tech">
    <h2>Tools & Technologies</h2>
      <img src="https://img.icons8.com/nolan/64/google-cloud-platform.png">
      <img src="https://img.icons8.com/color/48/000000/amazon-web-services.png">
      <img src="https://img.icons8.com/color/48/000000/docker.png">
      <img src="https://img.icons8.com/color/48/000000/git.png">
    <p>Proficient with Docker containers, Git CI/CD, Tableau, and Snowflake. Advanced knowledge of cloud infrastructure (AWS).
       Experience with workflow management tools and Generative AI (LLM). Familiar with Google Cloud Platform and other cloud technologies.</p>
  </div>
  <div class="tech">
    <h2>Papers</h2>
    <ul style="list-style-type: none; padding-left: 0;">
      <li style="display: flex; align-items: center; margin-bottom: 10px;">
        <a href="https://dl.acm.org/doi/abs/10.14778/3415478.3415511" target="_blank">
          <img src="https://img.icons8.com/color/48/000000/document.png" alt="Paper" style="margin-right: 10px;">
        </a>
        <p>
          X2R2: a tool for explainable and explorative reidentification risk analysis
        </p>
      </li>
      <li style="display: flex; align-items: center;">
        <a href="https://ieeexplore.ieee.org/abstract/document/8371948" target="_blank">
          <img src="https://img.icons8.com/color/48/000000/document.png" alt="Paper" style="margin-right: 10px;">
        </a>
        <p>
          Massive Open Online Courses Temporal Profiling for Dropout Prediction
        </p>
      </li>
    </ul>
  </div>
</div>
